<ol class="breadcrumb">
    <li class="active">Home</a></li>
</ol>

<br/>

<%- partial ('partials/statusmessage.ejs') %>

<h2>Games</h2>
<table class="table table-striped table-bordered">
  <tr>
    <th>Game ID</th>
    <th>Game Name</th>
    <th>Country Of Origin</th>
    <th>Year Developed</th>
    <th>Creator</th>
    <th>Brand</th>
    <th>Game Type</th>
    <th>Min # of Players</th>
    <th>Max # of Players</th>
  </tr>
  <% if(typeof boardgames != "undefined" && boardgames.length > 0){ %>
    <% boardgames.forEach(function(boardgame){ %>
      <tr>
        <td><%= boardgame.id %></td>
        <td><%= boardgame.gameName %></td>
        <td><%= boardgame.countryOrigin %></td>
        <td><%= boardgame.yearDeveloped %></td>
        <td><%= boardgame.creator %></td>
        <td><%= boardgame.brand %></td>
        <td><%= boardgame.gameType %></td>
        <td><%= boardgame.minNumOfPlayers %></td>
        <td><%= boardgame.maxNumOfPlayers %></td>
      </tr>
    <% }) %>
  <% }else{ %>
      <tr>
        <td colspan="9">0 records found</td>
      </tr>
  <% } %>
  
</table>


